/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
    border-bottom: 1px solid purple;
    justify-content: space-between;
}

header h1 {
    position: relative;
    top: 5px;
    left: 10px;
    justify-content: flex-start;
    color: purple;
    margin: 0;
    padding-bottom: 15px;
}

header button {
    position: relative;
    width: 20%;
    height: 33%;
    background-color: purple;
    color: white;
    font-size: 20px;
    border: none;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    position: relative;
    top: 15px;
    padding: 5px;
    vertical-align: center;
    border-radius: 10px;
    width: 35%;
}

button {
    position: relative;
    top: 15px;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: purple;
    color: white;
    width: 15%;
    font-size: 20px;
    margin-left: 15px;
}

#all-cities {
    display: flex;
    width: 25%;
    height: 510px;
    position: absolute;
    left: 1%;
    top: 23%;
    border: 1px solid purple;
    border-radius: 10px;
}

#all-cities nav ol {
    height: 95%;
    width: 125%;
    overflow: hidden;
    overflow-y: scroll;
}

#weather {
    position: absolute;
    display: flex;
    left: 28%;
    width: 15%;
    padding-top: 1%;
    height: 20%;
    flex-direction: column;
    justify-content: space-between;
}

#population {
    display: flex;
    position: absolute;
    left: 46%;
    padding-top: 1%;
    width: 15%;
    height: 20%;
    flex-direction: column;
}

#location {
    display: flex;
    position: absolute;
    padding-top: 1%;
    left: 65%;
    width: 15%;
    height: 20%;
    flex-direction: column;
}

#region {
    display: flex;
    position: absolute;
    left: 82%;
    width: 15%;
    padding-top: 1%;
    height: 20px;
    flex-direction: column;
}

#results {
    position: absolute;
    left: 30%;
    top: 45%;
    width: 65%;
    height: 35%;
    border: 1px solid purple;
    border-radius: 10px;
}

footer {
    position: absolute;
    bottom: 5%;
    width: 99%;
    height: 7%;
    border-top: 1px solid purple;
}
