<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/contribute.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/script/city_specific.js"></script>
    <title>Contribute</title>
</head>
<body>
    <header>
        <h1 id="clickable-heading">Cities Tourist Site Web Service</h1>
        <form method="get" action="/">
            <input type="submit" value="Home"/>
        </form>
    </header>

    <div>
        <h1>Contribute</h1>
    </div>
    <div id="container">
        <div class="page-1">
            <div class="ask-1">
                <p>On which subject do<br/> you want to contribute?</p>
            </div>
            <div class="city">
                <form action="#page-2">
                    <input type="Submit" value="City">
                </form>
            </div>
            <div class="touristsite">
                <form action="#page-3">
                    <input type="submit" value="Tourist Site">
                </form>
            </div>
        </div>
        <div id="page-2">
            <form action="/">
                <input type="text">
                <input type="submit">
            </form>
            <form action="/">
                <input type="text" name="" id="">
                <input type="submit">
            </form>
        </div>
        <div id="page-3">
            <form action="/">
                <input type="text">
                <input type="submit">
            </form>
            <form action="/">
                <input type="text" name="" id="">
                <input type="submit">
            </form>
        </div>
    </div>
    <footer></footer>
</body>
</html>
