<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/contribute.css">
    <title>Contribute</title>
</head>
<body>
    <header>
        <h1>Cities Tourist Site Web Service</h1>
        <form method="get" action="/">
            <input type="submit" value="Home"/>
        </form>
    </header>

    <h1>Contribute</h1>
    <div>
	<form>
	  <h3>City</h3>
	  <input type="text" id="city"/>
	</form>
    </div>
    <footer></footer>
</body>
</html>
