<!DOCTYPE html>
<html>
<head>
    <title>Cities Tourist Site Web Service</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="static/styles/filters.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/script/main-page.js" type="text/javascript"></script>
    <script src="static/script/filters.js" type="text/javascript"></script>
</head>
<body>
    <header>
	<h1>Cities Tourist Site Web Service</h1>
        <form method="get" action="/contribute">
        	<input type="submit" value="Contribute"/>
    	</form>
    </header>
    
    <form id="search-form" >
        <input type="text" id="city_name" name="city_name" required>
        <button type="submit">Search</button>
    </form>
    
    <div id="all-cities">
	<nav>
	    <ol></ol>
	</nav>
    </div>
    <div id="filters">
        <form action="/" method="get">
            <div id="weather">
                <label>Weather</label>
                <input type="radio" class="weatheroption" name="weather" value="Bereha">Bereha</input>
                <input type="radio" class="weatheroption" name="weather" value="Kola">Kola</input>
                <input type="radio" class="weatheroption" name="weather" value="Weyna Dega">Weyna Dega</input>
                <input type="radio" class="weatheroption" name="weather" value="Dega">Dega</input>
                <input type="radio" class="weatheroption" name="weather" value="Wurch">Wurch</input>
            </div>
            <div id="population">
                <label>Population</label>
                <input type="checkbox" class="checkoption" name="population" value="50K - 100K">50K - 100K</input>
                <input type="checkbox" class="checkoption" name="population" value="100K - 250K">100K - 250K</input>
                <input type="checkbox" class="checkoption" name="population" value="250K - 500K">250K - 500K</input>
                <input type="checkbox" class="checkoption" name="population" value="500K - 1M">500K - 1M</input>
            </div>
            <div id="location">
                <label>Location</label>
                    <input type="checkbox" class="locationoption" name="location"></input>
                <input type="checkbox" class="locationoption" name="location"></input>
                <input type="checkbox" class="locationoption" name="location"></input>
                <input type="checkbox"class="locationoption" name="location"></input>
            </div>
            <div id="region">
                <label>Region</label>
                <input type="checkbox" class="regionoption" name="region"></input>
                <input type="checkbox" class="regionoption" name="region"></input>
                <input type="checkbox" class="regionoption" name="region"></input>
                <input type="checkbox" class="regionoption" name="region"></input>
            </div>
        </form>
    </div>
    <div id="results">
	<ul></ul>
    </div>
    <footer></footer>    
</body>
</html>
