<!DOCTYPE html>
<html>
<head>
    <title>Cities Tourist Site Web Service</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="static/styles/filters.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/script/main-page.js" type="text/javascript"></script>
    <script src="static/script/filters.js" type="text/javascript"></script>
</head>
<body>
    <header>
	<h1>Cities Tourist Site Web Service</h1>
        <form method="get" action="/contribute">
        	<input type="submit" value="Contribute"/>
    	</form>
    </header>
    
    <form id="search-form" >
        <input type="text" id="city_name" name="city_name" required>
        <button type="submit">Search</button>
    </form>
    
    <div id="all-cities">
	<nav>
	    <ol></ol>
	</nav>
    </div>
    <section id="filters">
        <div id="weather">
            <label>Weather</label>
            <input type="checkbox" class="weatheroption" name="weather" data-value="Bereha">Bereha</input>
            <input type="checkbox" class="weatheroption" data-name="weather" data-value="Kola">Kola</input>
            <input type="checkbox" class="weatheroption" data-name="weather" data-value="Weyna Dega">Weyna Dega</input>
            <input type="checkbox" class="weatheroption" data-name="weather" data-value="Dega">Dega</input>
            <input type="checkbox" class="weatheroption">Wurch</input>
        </div>
        <div id="population">
            <label>Population</label>
                <input type="checkbox" class="checkoption"></input>
            <input type="checkbox" class="checkoption"></input>
            <input type="checkbox" class="checkoption"></input>
            <input type="checkbox" class="checkoption"></input>
        </div>
        <div id="location">
            <label>Location</label>
                <input type="checkbox" class="locationoption"></input>
            <input type="checkbox" class="locationoption"></input>
            <input type="checkbox" class="locationoption"></input>
            <input type="checkbox"class="locationoption"></input>
        </div>
        <div id="region">
            <label>Region</label>
            <input type="checkbox" class="regionoption"></input>
            <input type="checkbox" class="regionoption"></input>
            <input type="checkbox" class="regionoption"></input>
            <input type="checkbox" class="regionoption"></input>
        </div>
    </section>
    <div id="results">
	<ul></ul>
    </div>
    <footer></footer>    
</body>
</html>
