<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ place }}</title>
    <link rel="stylesheet" href="../static/styles/places_specific.css"></link>
    <link rel="stylesheet" href="../static/styles/media.css"></link>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<header>
        <h1>Cities Tourist Site Web Service</h1>
        <nav>
		<a href="/contribute"><div class="contribute">Contribute</div></a>
        </nav>
    </header>

    <div id="container">
	<h1>{{ site }}</h1>
        <div class="fullinfo">
            <ol></ol>
        </div>
        <div class="fullinfo-mob">
            <ol></ol>
        </div>
        <div class="imgcontainer">
            <img src="https://via.placeholder.com/350" alt="Placeholder">
            <img src="https://via.placeholder.com/350" alt="Placeholder">
            <img src="https://via.placeholder.com/559" alt="Placeholder" width="350">
        </div>
        <div class="imgcontainer-mob">
            <img src="https://via.placeholder.com/350" alt="Placeholder">
            <img src="https://via.placeholder.com/350" alt="Placeholder">
            <img src="https://via.placeholder.com/350" alt="Placeholder" width="350">
        </div>
        <div class="details">
            <p>DETAILS</p>
        </div>
        <div class="details-mob">
            <p>DETAILS</p>
        </div>
    </div>

    <footer></footer>
</body>
</html>
